{% extends 'mainpage/baselayout.html' %}
{% block content %}
<body>
    
    
    <main>
        <section id="home">
            <h1>Добро пожаловать в нашу строительную компанию!</h1>
            <p>Мы предлагаем широкий спектр строительных услуг...</p>
        </section>
        
        <section id="services">
            <h2>Наши услуги</h2>
            <p>Строительство, ремонт, отделка и многие другие услуги...</p>
        </section>
        
        <section id="projects">
            <h2>Реализованные проекты</h2>
            <p>Посмотрите наши успешные проекты...</p>
        </section>
        
        <section id="about">
            <h2>О нас</h2>
            <p>Краткая информация о нашей компании и команде...</p>
        </section>
        
        <section id="contact">
            <h2>Контакты</h2>
            <p>Свяжитесь с нами через форму обратной связи...</p>
        </section>
    </main>

</body>
{% endblock %}