<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогресс по проекту</title>
</head>
<body>
    <ul> 
        <li>Создание сайта строительной компании</li>
        <li>Создание и дизайн страниц сайта</li>
        <li>Создание базы данных содержащей клиентов и виды работ</li>
        <li>Стилизация страниц проекта</li>
        <li>Заполнение обьектами и данными</li>
        <li>Проверка работоспособности проекта</li>
        <li>Хостинг на удаленном сервере</li>
        <li>Конец</li>
    </ul>
</body>
</html>