{% extends 'mainpage/baselayout.html' %}
{% block content %}

<body>
    

    <main class="services_content">
        <section id="services">
            <h2 class="services_h">Наши услуги</h2>
            <p>Мы специализируемся на следующих услугах:</p>
            <ul>
                <li>Ремонт помещений под ключ</li>
                <li>Отдлека готовых помещений</li>
                <li>Создание дизайна помещений</li>
                
            </ul>
        </section>
    </main>
    
   
</body>
</html>
{% endblock %}